{% extends 'base.html' %} {% load static %} {% block content %}
<div class="page-inner">
  <div class="page-header">
    <h4 class="page-title">Dashboard</h4>
    <ul class="breadcrumbs">
      <li class="nav-home">
        <a href="#">
          <i class="flaticon-home"></i>
        </a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Pages</a>
      </li>
      <li class="separator">
        <i class="flaticon-right-arrow"></i>
      </li>
      <li class="nav-item">
        <a href="#">Starter Page</a>
      </li>
    </ul>
  </div>
  <div class="page-category">
    <div class="page-category">
      <h1 style="font-size: 55px;" class="text">Hello Ma'am</h1>
      <h2 style="font-size: 40px;" class="text">Welcome to <b class="text-danger">KUPAL</b> Fire App</h2>
      <br>
      <br>
      <br>
      <br>
      <br>
      <br>
      <h3 style="font-size: 20px;" class="text">By</h3>
      <h4 style="font-size: 15px;" class="text">Espencer Badilla</h4>
      <h5 style="font-size: 15px;" class="text">Antonio Linsangan</h5>
    </div>
    
</div>
{% endblock %}
